.tab-wrap {
	width: 100%;
}

.tab-header {
	list-style: none;
}

.lf li {
	float: left;
}

.lf li.active {
	margin-right: 1px;
}

.lr li {
	float: right;
}

.tab-header li {
	/*float: left;*/
	border: 1px solid #ccc;
	border-bottom: 1px solid #c81623;
	position: relative;
	top: 0px;
	margin-left: -1px;
	z-index: 1;
}

.tab-header li.active {
	border: 1px solid #c81623;
	border-top: 3px solid #c81623;
	border-bottom: #fff 1px solid;
	position: relative;
	z-index: 4;
}

.tab-header li a {
	display: block;
	padding: 10px 20px;
	color: #999;
}

.tab-header li.active a {
	padding: 8px 20px 10px 20px;
	color: #c81623;
	/*font-weight: bold;*/
}

.tab-list {
	clear: both;
	overflow: hidden;
	border: 1px solid #ccc;
	position: relative;
	top: -1px;
	margin-left: -1px;
	border-top: 1px solid #c81623;
}

/*.tab-list.active {
	border-top: 1px solid #c81623;
}*/

.tab-item {
	float: left;
	display: none;
	padding: 10px 4px;
	width: 100%;
}

.tab-item.active {
	display: block;
}