<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <% include ../common/commonCss.html %>
</head>
<body>
<!--公共头部引入-->
<% include ../common/header.html %>
<!--会员管理-->
<div class="content">
    <div class="left-column">
        <div class="service">
            <h5>商品管理</h5>
        </div>
        <!--分类1-->
        <dl class="call">
            <div class="down">
                <dt>商品管理</dt>
                <dd><a href="#">商品列表</a></dd>
                <dd><a href="#">进货</a></dd>
                <dd><a href="#">仓库维护</a></dd>
            </div>
        </dl>
        <!--商品设置-->
        <dl class="call">
            <div class="up">
                <dt>商品设置</dt>
                <dd><a href="/manager/productcategory">分类列表</a></dd>
                <dd><a href="/manager/productbrand">品牌列表</a></dd>
                <dd><a href="/manager/producttype">类型列表</a></dd>
                <dd><a href="/manager/productspecifications">规格列表</a></dd>
            </div>
        </dl>
        <!--标签管理-->
        <dl class="call">
            <div class="up">
                <dt>标签管理</dt>
                <dd><a href="/manager/producttag">标签列表</a></dd>
                <dd><a href="#">标签商品设置</a></dd>
            </div>
        </dl>
    </div>
    <div class="meduo meduo2">
        <iframe src="/<%=action%>/list"  frameborder="0"></iframe>
    </div>
</div>
</body>
</html>
<!--公共js 开始引入-->
<% include ../common/commonJs.html %>
<script>
    var pageIndex=<%=pageIndex%>;
</script>
<!--公共js 结束引入-->
