<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/fg/css/rest.css">
    <link rel="stylesheet" type="text/css" href="/weight/weight.css">
    <link rel="stylesheet" type="text/css" href="/fg/css/index.css">
</head>
<body>
<!--顶部-->
<div class="top-bar">
    <div class="w1200">
        <div class="top-left lf">
            <a href="" class="first">您好，欢迎来到本站！</a>
            <a href="">登录</a>
            <a href="">注册</a>
        </div>
        <div class="top-right lr">
            <a href="###">我的订单<i>&#xe608;</i></a>
            <a href="">购物车(<em>1</em>)件</a>
            <a href=""> 帮助中心</a>
        </div>
    </div>
</div>
<!--检索区域-->
<div class="searcher">
    <div class="w1200">
        <!-- 左侧log -->
        <h1 class="logo">
            <a href="###">
                <img src="/fg/images/logo.gif" alt="logo">
            </a>
        </h1>
        <div class="search-area">
            <input type="text" class="search-text" placeholder="请输入产品关键字...">
            <input type="button" class="search-btn" value="搜&nbsp;索">
        </div>
        <div class="search-tel">
		    	<span class="shop-car">
					<i>&#xe60e;</i>购物车结算<em>&#xe610;</em>
				</span>
        </div>
    </div>
</div>
<!--导航-->
<div class="nav">
    <div class="w1200">
        <div class="cat">
            <!--商品分类-->
            <h3>
                <i>&#xe611;</i>所有商品分类
            </h3>
            <div class="menu-list">
                <ul>
                    <li><a href="##">家用电器</a></li>
                    <li><a href="##">手机</a>、<a href="##">数码</a>、<a href="##">通讯</a></li>
                    <li><a href="##">电脑、办公</a></li>
                    <li><a href="##">家居、家具、家装、厨具</a></li>
                    <li><a href="##">男装、女装、内衣</a></li>
                    <li><a href="##">个护化妆、清洁用品、宠物</a></li>
                    <li><a href="##">鞋靴、箱包、珠宝、奢侈品</a></li>
                    <li><a href="##">运动户外、钟表</a></li>
                    <li><a href="##">食品、酒类、生鲜、特产</a></li>
                    <li><a href="##">个护化妆、清洁用品、宠物</a></li>
                    <li><a href="##">食品、酒类、生鲜、特产</a></li>
                </ul>
            </div>
            <!--菜单内容-->
            <div class="menu-content">

                <div class="menu-item">
                    <h4>
                        <a href="#">手机配件</a>
                    </h4>
                    <ul>
                        <li><a href="">索尼48吋网络2799元</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h4>
                        <a href="#">电视</a>
                    </h4>
                    <ul>
                        <li><a href="">索尼48吋网络2799元</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h4>
                        <a href="#">平板专场</a>
                    </h4>
                    <ul>
                        <li><a href="">ipad</a></li>
                        <li><a href="">surface</a></li>
                        <li><a href="">kindle</a></li>
                        <li><a href="">三星平板</a></li>
                        <li><a href="">先锋平板</a></li>
                        <li><a href="">联想平板</a></li>
                        <li><a href="">388元抢华为平板</a></li>
                        <li><a href="">平板配件</a></li>
                        <li><a href="">平板配件</a></li>
                        <li><a href="">平板配件</a></li>
                        <li><a href="">平板配件</a></li>
                        <li><a href="">平板配件</a></li>
                        <li><a href="">平板配件</a></li>
                        <li><a href="">平板配件</a></li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h4>
                        <a href="#">孕婴奶粉</a>
                    </h4>
                    <ul>
                        <li><a href="">索尼48吋网络2799元</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h4>
                        <a href="#">厨房小家电</a>
                    </h4>
                    <ul>
                        <li><a href="">索尼48吋网络2799元</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                        <li><a href="">平板电视</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <!--导航-->
        <ul class="nav-list">
            <li><a class="active" href="###">首 页</a></li>
            <li><a href="###">零食天地</a></li>
            <li><a href="###">进口食品</a></li>
            <li><a href="###">个人护理</a></li>
            <li><a href="###">箱包钟表</a></li>
        </ul>

        <!--公告区域-->

        <div class="notice">
            <div class="notice-item">
                <h3>
                    公告
                    <a href="##">更多</a>
                </h3>
                <ul>
                    <li><a href="##">【促销】418开抢 每满千减百</a></li>
                    <li><a href="##">【促销】418开抢 每满千减百</a></li>
                    <li><a href="##">【促销】418开抢 每满千减百</a></li>
                    <li><a href="##">【促销】418开抢 每满千减百</a></li>
                    <li><a href="##">【促销】418开抢 每满千减百</a></li>

                </ul>
            </div>

            <div class="notice-item">
                <h3>
                    生活助手
                    <a href="##">更多</a>
                </h3>
                <ul class="helper">
                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe614;</span>
                            <span class="text">充值</span>
                        </a>

                    </li>
                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe613;</span>
                            <span class="text">还款</span>
                        </a>

                    </li>
                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe615;</span>
                            <span class="text">火车票</span>
                        </a>
                    </li>


                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe614;</span>
                            <span class="text">充值</span>
                        </a>

                    </li>
                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe613;</span>
                            <span class="text">还款</span>
                        </a>

                    </li>
                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe615;</span>
                            <span class="text">火车票</span>
                        </a>
                    </li>

                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe614;</span>
                            <span class="text">充值</span>
                        </a>

                    </li>
                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe613;</span>
                            <span class="text">还款</span>
                        </a>

                    </li>
                    <li>
                        <a href="##">
                            <span class="icon-2">&#xe615;</span>
                            <span class="text">火车票</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="focus">
    <div class="banner" id="banner"></div>
</div>
<!-- 主体内容区域 -->
<div calss="main">
    <div class="w1200">

        <!--1F-->
        <div class="floor-item">
            <h2>1F&nbsp;&nbsp;服饰百货</h2>
            <div class="floor-content">
                <div class="floor-left">
                    <img src="fg/images/left.jpg" alt="">
                    <div class="floor-left-wrap">
                        <!--链接区域-->
                        <ul class="brand-text">
                            <li>
                                <span></span>

                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                        </ul>


                    </div>
                    <!--品牌列表-->
                    <div class="brand-wrap">

                        <ul class="brand-imgs">
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>

                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="floor-right">
                    <!--tab页签-->
                    <div class="container">
                        <div class="tab-wrap" id='tab2'>
                            <ul class="tab-header lr">
                                <li class="active" ind="1"><a href="#">跑步鞋</a></li>
                                <li ind="2"><a href="#">手表</a></li>
                                <li ind="3"><a href="#">黄金</a></li>
                                <li ind="4"><a href="#">双肩包</a></li>
                                <li ind="5"><a href="#">休闲鞋</a></li>
                                <li ind="6"><a href="#">内衣内裤</a></li>
                                <li ind="7"><a href="#">男士衬衫</a></li>
                                <li ind="8"><a href="#">连衣裙</a></li>
                            </ul>
                            <div class="tab-list">
                                <!--页签1-->
                                <div class="tab-item active">

                                    <ul class="img-list">
                                        <li>
                                            <a href="###">
                                                <img src="../fg/images/img1.jpg" alt="">
                                            </a>
                                        </li>
                                        <li class="w438">
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                        </li>
                                        <li class="w231">
                                            <a href=""><img src="../fg/images/img5.jpg" alt=""></a>

                                        </li>

                                        <li class="h176">
                                            <a href="">
                                                <img src="../fg/images/img2.jpg" alt="">
                                            </a>
                                        </li>

                                        <li class="h176 w438">
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>

                                        </li>
                                        <li class="h176 w231">
                                            <a href="">
                                                <img src="../fg/images/img6.jpg" alt="">
                                            </a></li>
                                    </ul>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容2
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容3
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容4
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容5
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容6
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容7
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--2F-->
        <div class="floor-item">
            <h2>2F&nbsp;&nbsp;服饰百货</h2>
            <div class="floor-content">
                <div class="floor-left">
                    <img src="fg/images/left.jpg" alt="">
                    <div class="floor-left-wrap">
                        <!--链接区域-->
                        <ul class="brand-text">
                            <li>
                                <span></span>

                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                        </ul>


                    </div>
                    <!--品牌列表-->
                    <div class="brand-wrap">

                        <ul class="brand-imgs">
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="floor-right">
                    <!--tab页签-->
                    <div class="container">
                        <div class="tab-wrap" id='tab2'>
                            <ul class="tab-header lr">
                                <li class="active" ind="1"><a href="#">跑步鞋</a></li>
                                <li ind="2"><a href="#">手表</a></li>
                                <li ind="3"><a href="#">黄金</a></li>
                                <li ind="4"><a href="#">双肩包</a></li>
                                <li ind="5"><a href="#">休闲鞋</a></li>
                                <li ind="6"><a href="#">内衣内裤</a></li>
                                <li ind="7"><a href="#">男士衬衫</a></li>
                                <li ind="8"><a href="#">连衣裙</a></li>
                            </ul>
                            <div class="tab-list">
                                <!--页签1-->
                                <div class="tab-item active">

                                    <ul class="img-list">
                                        <li>
                                            <a href="###">
                                                <img src="../fg/images/img1.jpg" alt="">
                                            </a>
                                        </li>
                                        <li class="w438">
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                        </li>
                                        <li class="w231">
                                            <a href=""><img src="../fg/images/img5.jpg" alt=""></a>

                                        </li>

                                        <li class="h176">
                                            <a href="">
                                                <img src="../fg/images/img2.jpg" alt="">
                                            </a>
                                        </li>

                                        <li class="h176 w438">
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>

                                        </li>
                                        <li class="h176 w231">
                                            <a href="">
                                                <img src="../fg/images/img6.jpg" alt="">
                                            </a></li>
                                    </ul>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容2
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容3
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容4
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容5
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容6
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容7
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--3F-->
        <div class="floor-item">
            <h2>3F&nbsp;&nbsp;服饰百货</h2>
            <div class="floor-content">
                <div class="floor-left">
                    <img src="fg/images/left.jpg" alt="">
                    <div class="floor-left-wrap">
                        <!--链接区域-->
                        <ul class="brand-text">
                            <li>
                                <span></span>

                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                        </ul>


                    </div>
                    <!--品牌列表-->
                    <div class="brand-wrap">

                        <ul class="brand-imgs">
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="floor-right">
                    <!--tab页签-->
                    <div class="container">
                        <div class="tab-wrap" id='tab2'>
                            <ul class="tab-header lr">
                                <li class="active" ind="1"><a href="#">跑步鞋</a></li>
                                <li ind="2"><a href="#">手表</a></li>
                                <li ind="3"><a href="#">黄金</a></li>
                                <li ind="4"><a href="#">双肩包</a></li>
                                <li ind="5"><a href="#">休闲鞋</a></li>
                                <li ind="6"><a href="#">内衣内裤</a></li>
                                <li ind="7"><a href="#">男士衬衫</a></li>
                                <li ind="8"><a href="#">连衣裙</a></li>
                            </ul>
                            <div class="tab-list">
                                <!--页签1-->
                                <div class="tab-item active">

                                    <ul class="img-list">
                                        <li>
                                            <a href="###">
                                                <img src="../fg/images/img1.jpg" alt="">
                                            </a>
                                        </li>
                                        <li class="w438">
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                        </li>
                                        <li class="w231">
                                            <a href=""><img src="../fg/images/img5.jpg" alt=""></a>

                                        </li>

                                        <li class="h176">
                                            <a href="">
                                                <img src="../fg/images/img2.jpg" alt="">
                                            </a>
                                        </li>

                                        <li class="h176 w438">
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>

                                        </li>
                                        <li class="h176 w231">
                                            <a href="">
                                                <img src="../fg/images/img6.jpg" alt="">
                                            </a></li>
                                    </ul>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容2
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容3
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容4
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容5
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容6
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容7
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--4F-->
        <div class="floor-item">
            <h2>4F&nbsp;&nbsp;服饰百货</h2>
            <div class="floor-content">
                <div class="floor-left">
                    <img src="fg/images/left.jpg" alt="">
                    <div class="floor-left-wrap">
                        <!--链接区域-->
                        <ul class="brand-text">
                            <li>
                                <span></span>

                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                            <li>
                                <a href="###">服装城</a>
                            </li>
                        </ul>


                    </div>
                    <!--品牌列表-->
                    <div class="brand-wrap">

                        <ul class="brand-imgs">
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="##">
                                    <img src="/fg/images/mb.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="floor-right">
                    <!--tab页签-->
                    <div class="container">
                        <div class="tab-wrap" id='tab2'>
                            <ul class="tab-header lr">
                                <li class="active" ind="1"><a href="#">跑步鞋</a></li>
                                <li ind="2"><a href="#">手表</a></li>
                                <li ind="3"><a href="#">黄金</a></li>
                                <li ind="4"><a href="#">双肩包</a></li>
                                <li ind="5"><a href="#">休闲鞋</a></li>
                                <li ind="6"><a href="#">内衣内裤</a></li>
                                <li ind="7"><a href="#">男士衬衫</a></li>
                                <li ind="8"><a href="#">连衣裙</a></li>
                            </ul>
                            <div class="tab-list">
                                <!--页签1-->
                                <div class="tab-item active">

                                    <ul class="img-list">
                                        <li>
                                            <a href="###">
                                                <img src="../fg/images/img1.jpg" alt="">
                                            </a>
                                        </li>
                                        <li class="w438">
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                            <a href=""><img src="../fg/images/img4.jpg" alt=""></a>
                                        </li>
                                        <li class="w231">
                                            <a href=""><img src="../fg/images/img5.jpg" alt=""></a>

                                        </li>

                                        <li class="h176">
                                            <a href="">
                                                <img src="../fg/images/img2.jpg" alt="">
                                            </a>
                                        </li>

                                        <li class="h176 w438">
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>
                                            <a href="">
                                                <img src="../fg/images/img3.jpg" alt="">
                                            </a>

                                        </li>
                                        <li class="h176 w231">
                                            <a href="">
                                                <img src="../fg/images/img6.jpg" alt="">
                                            </a></li>
                                    </ul>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容2
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容3
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容4
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <!--页签1-->
                                <div class="tab-item">页签内容5
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容6
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <div class="tab-item">页签内容7
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部信息 -->
<div class="footer">
    <!--<div class="footer-gray">-->
        <!--<ul class="w1200">-->
            <!--<li>-->
                <!--<i></i>-->
                    <!--<span>-->
                        <!--品类齐全，轻松购物-->
                    <!--</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<i></i>-->
                    <!--<span>-->
                        <!--品类齐全，轻松购物-->
                    <!--</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<i></i>-->
                    <!--<span>-->
                        <!--品类齐全，轻松购物-->
                    <!--</span>-->
            <!--</li>-->
            <!--<li>-->
                <!--<i></i>-->
                    <!--<span>-->
                        <!--品类齐全，轻松购物-->
                    <!--</span>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="footer-list w1200">
        <dl>
            <dt>购物指南</dt>
            <dd><a href="##">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>购物指南</dt>
            <dd><a href="##">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>购物指南</dt>
            <dd><a href="##">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>购物指南</dt>
            <dd><a href="##">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
        <dl>
            <dt>购物指南</dt>
            <dd><a href="##">购物流程</a></dd>
            <dd><a href="#">会员介绍</a></dd>
            <dd><a href="#">生活旅行/团购</a></dd>
            <dd><a href="#">常见问题</a></dd>
            <dd><a href="#">大家电</a></dd>
            <dd><a href="#">联系客服</a></dd>
        </dl>
    </div>
    <div class="footer-tip">
        <div class="w1200">
            <ul>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
            <ul class="link">
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">商家入驻</a></li>
                <li><a href="">商家入驻</a></li>
                <li><a href="">商家入驻</a></li>
                <li><a href="">商家入驻</a></li>
                <li><a href="">商家入驻</a></li>
                <li><a href="">商家入驻</a></li>
                <li><a href="">商家入驻</a></li>
                <li><a href="">商家入驻</a></li>
            </ul>
            <p class="copy-right">
                Copyright© 2002-2016 ，淘淘有限公司版权所有
            </p>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/require.js"></script>
<script type="text/javascript" src="lib/boot.js"></script>
<script type="text/javascript" src="fg/js/index.js"></script>