<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href="/fg/css/rest.css">
    <link type="text/css" rel="stylesheet" href="weight/weight.css">
</head>
<body>
<div style=" width:700px;height:200px; margin: 10px auto">
    <div class="banner" id="banner"></div>
</div>
<form action="" id="form" style="display:none;">
    <div class="warper">
        <div class="input-box">
            <label class="input-label" for="name">用户名:</label>
            <input id="name" name="name" autocomplete="off" type="text" class="input" placeholder="请输入用户名...">
            <i>&#xe60d;</i>
        </div>
        <div class="input-box">
            <label class="input-label" for="password">密码:</label>
            <input id="password" name="password" autocomplete="off" type="password" class="input"
                   placeholder="请输入密码...">
            <i>&#xe60c;</i>
        </div>
        <div class="input-box"></div>
        <!--<div class="input-box">-->
        <!--<button class="btn  primary">注册</button>-->
        <!--</div>-->
    </div>
</form>


<br/>
<br/>
<br/>
<!--tab1-->
<div class="container">
    <div class="tab-wrap" id='tab1'>
        <ul class="tab-header lf">
            <li class="active" ind="1"><a href="#">热门</a></li>
            <li ind="2"><a href="#">国际大品牌</a></li>
            <li ind="3"><a href="#">个人护理</a></li>
            <li ind="4"><a href="#">清洁用品</a></li>
            <li ind="5"><a href="#">纸品湿巾</a></li>
            <li ind="6"><a href="#">纸品湿巾</a></li>
            <li ind="7"><a href="#">纸品湿巾</a></li>
        </ul>
        <div class="tab-list">
            <!--页签1-->
            <div class="tab-item active">页签内容1
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                页签内容1


            </div>
            <!--页签1-->
            <div class="tab-item">页签内容2
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--页签1-->
            <div class="tab-item">页签内容3
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--页签1-->
            <div class="tab-item">页签内容4
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--页签1-->
            <div class="tab-item">页签内容5
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <div class="tab-item">页签内容6
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <div class="tab-item">页签内容7
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>

<!--tab2-->
<div class="container">
    <div class="tab-wrap" id='tab2'>
        <ul class="tab-header lr">
            <li class="active" ind="1"><a href="#">热门111</a></li>
            <li ind="2"><a href="#">国际大品牌1111</a></li>
            <li ind="3"><a href="#">个人护理1111</a></li>
            <li ind="4"><a href="#">清洁用品111</a></li>
            <li ind="5"><a href="#">纸品湿巾111</a></li>
            <li ind="6"><a href="#">纸品湿巾111</a></li>
            <li ind="7"><a href="#">纸品湿巾111</a></li>
        </ul>
        <div class="tab-list">
            <!--页签1-->
            <div class="tab-item active">
                页签内容1
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--页签1-->
            <div class="tab-item">页签内容2
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--页签1-->
            <div class="tab-item">页签内容3
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--页签1-->
            <div class="tab-item">页签内容4
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <!--页签1-->
            <div class="tab-item">页签内容5
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <div class="tab-item">页签内容6
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <div class="tab-item">页签内容7
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>


按钮:
<button class="btn">立即购买</button>
<button class="btn btn-normal  btn-blue">立即购买</button>
<button class="btn btn-green">立即购买</button>
<button class="btn btn-orange">立即购买</button>


<button class="btn btn-blue simall">立即购买</button>
<button class="btn btn-green simall">立即购买</button>
<button class="btn btn-orange simall">立即购买</button>
<button class="btn btn-disabled simall">立即购买</button>


</body>
</html>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/require.js"></script>
<script type="text/javascript" src="lib/boot.js"></script>
<script type="text/javascript" src="fg/js/test.js"></script>


