<div class="left-column">
    <div class="service">
        <h5>会员</h5>
    </div>
    <!--会员管理-->
    <dl class="call">
        <div class="down">
            <dt>会员管理</dt>
            <dd><a href="/member">会员列表</a></dd>
            <dd><a href="/memberrank">会员等级</a></dd>
        </div>
    </dl>
    <!--商品评论-->
    <dl class="call">
        <div class="up">
            <dt>商品评论</dt>
            <dd><a href="#">商品评论列表</a></dd>
            <dd><a href="#">购买咨询列表</a></dd>
        </div>
    </dl>
</div>