<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员操作</title>
    <% include ../common/commonCss.html %>
    <link type="text/css" rel="stylesheet" href="/bg/css/modify_column2.css">
</head>
<body>
<form action="/member/save" class="form" method="post">
    <h1 class="form-title">会员添加</h1>
    <div class="form-group">
        <label class="form-tip">用户名</label>
        <span class="form-filed">
            <input type="text" required="true" value="<%=member.userName%>" regText="" filedText="用户名" id="userName"  autocomplete="off" name="userName" placeholder="请输入用户名...">
        </span>
    </div>
    <div class="form-group">
        <label class="form-tip" >密码</label>
          <span class="form-filed">
            <input type="password" name="password" value="<%=member.password%>"  required="true" regText="" filedText="密码"   id="password"   class="form-filed" autocomplete="off" placeholder="请输入密码...">
          </span>
    </div>
    <div class="form-group">
        <label class="form-tip" >真实姓名</label>
        <span class="form-filed">
            <input type="text" name="name" value="<%=member.name%>" class="form-filed" autocomplete="off" placeholder="请输入真实姓名...">
        </span>
    </div>
    <div class="form-group">
         <label class="form-tip" >性别</label>
        <span class="form-filed">

            <input type="radio" name="sex" checked="checked" id="woman" value="0"><label for="woman">女</label>
            <input type="radio" name="sex" <%=member.sex==1?"checked":""%> value="1" id="man"><label for="man">男</label>
        </span>
    </div>
    <div class="form-group">
        <label for="birthday"   class="form-tip">出生日期</label>
        <span class="form-filed">
            <input type="text" name="birthday" class="laydate-icon" value="<%=member.birthday%>" id="birthday"  readonly autocomplete="off" placeholder="请输入出生日期...">
        </span>
    </div>
    <div class="form-group">
    <label  class="form-tip" >Email</label>
         <span class="form-filed">
            <input type="text" name="email"  class="form-filed" autocomplete="off" value="<%=member.email%>"  placeholder="请输入Email...">
         </span>
    </div>
    <div class="form-group">
    <label   class="form-tip" >移动电话</label>
         <span class="form-filed">
            <input type="text" name="tel"  class="form-filed" autocomplete="off" value="<%=member.tel%>"   placeholder="请输入移动电话...">
         </span>
    </div>
    <div class="form-group">
        <label   class="form-tip" >会员等级</label>
         <span class="form-filed">
             <select name="rank" required="true"   filedText="会员等级"  id="member_rank">
                 <option value="">请选择...</option>
                  <% memberRanks.forEach(function(memberRank){%>
                      <% if(member.rank==memberRank.uuid){%>
                                <option value="<%=memberRank.uuid%>"selected="selected"><%=memberRank.name%></option>
                     <% }else{%>
                              <option value="<%=memberRank.uuid%>"><%=memberRank.name%></option>
                    <%}%>
                 <%})%>
             </select>
         </span>
    </div>
    <div class="form-group">
        <label   class="form-tip" >邮编</label>
         <span class="form-filed">
             <input type="text" name="postCode" value="<%=member.postCode%>"  class="form-filed" autocomplete="off" placeholder="请输入邮编...">
         </span>
    </div>
    <div class="form-group">
        <label   class="form-tip" >地址</label>
         <span class="form-filed">
             <input type="text" name="address" value="<%=member.address%>"   class="form-filed" autocomplete="off" placeholder="请输入地址...">
         </span>
    </div>
    <div class="form-group">
        <label   class="form-tip" >安全问题</label>
         <span class="form-filed">
             <input type="text" name="question"  value="<%=member.question%>" class="form-filed" autocomplete="off" placeholder="请输入安全问题...">
         </span>
    </div>
    <div class="form-group">
        <label   class="form-tip" >回答</label>
         <span class="form-filed">
             <input type="text" name="answer" value="<%=member.answer%>"  class="form-filed" autocomplete="off" placeholder="请输入回答...">
         </span>
    </div>
    <div class="btn-group">
        <span class="btn primary" id="save">保存</span>
        <span class="btn gray"  id="back">返回</span>
    </div>
    <input type="hidden" id="uuid"  name="uuid" value="<%=member.uuid%>">
    <input type="hidden" id="order" name="order"  value="<%=member.order%>">
</form>
</body>
</html>
<!--公共js 开始引入-->
<% include ../common/commonJs.html %>
<!--公共js 结束引入-->
<script src="/bg/js/member/modify_member.js" type="text/javascript"></script>