<div class="top"> <img class="logo" src="bg/images/logo.png">
    <div class="tab1" id="tab1">
        <div class="menu">
            <ul class="nav">
                <li><a href="/" > &#xe601;
                    <p>首页</p>
                </a></li>
                <li><a href="/product">
                    &#xe602;
                    <p>商品</p>
                </a></li>
                <li><a href="/order" >
                    &#xe603;
                    <p>订单</p>
                </a></li>
                <li><a href="/member" >
                    &#xe600;
                    <p>会员</p>
                </a></li>
               <!-- <li><a href="#">
                    &#xe604;
                    <p>导航栏</p>
                </a></li>
                <li><a href="#">
                    &#xe605;
                    <p>页面</p>
                </a></li>-->
                <!--<li><a href="#">-->
                    <!--&#xe606;-->
                    <!--<p>统计</p>-->
                <!--</a></li>-->
                <li><a href="/setting" >
                    &#xe604;
                    <p>设置</p>
                </a></li>
            </ul>
        </div>
    </div>
</div>