<div class="top"> <img class="logo" src="bg/images/logo.png">
    <div class="tab1" id="tab1">
        <div class="menu">
            <ul class="nav">
                <li id="one0" onclick="setTab('one',6)"><a href="#"><img src="bg/images/1430958346122214_06.png">
                    <p>回到首页</p>
                </a></li>
                <li  id="one1" onclick="setTab('one',1)"><a href="#"><img src="bg/images/14309583461214_06.png">
                    <p>服务管理</p>
                </a></li>
                <li id="one2" onclick="setTab('one',2)"><a href="#"><img src="bg/images/14309583461214_08.png">
                    <p>财务管理</p>
                </a></li>
                <li id="one3" onclick="setTab('one',3)"><a href="#"><img src="bg/images/14309583461214_16.png">
                    <p>家政服务</p>
                </a></li>
                <li id="one4" onclick="setTab('one',4)"><a href="#"><img src="bg/images/14309583461214_18.png">
                    <p>资源管理</p>
                </a></li>
                <li id="one5" onclick="setTab('one',5)"><a href="#"><img src="bg/images/14309583461214_10.png">
                    <p>系统管理</p>
                </a></li>
            </ul>
        </div>
    </div>
</div>