<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <!--公共js/css 开始引入-->
    <% include ../common/commonCss.html %>
    <!--公共js/css 结束引入-->
</head>
<body>
<!--公共头部引入-->
<% include ../common/header.html %>
<div class="content">
    <div class="left-column">
        <div class="service">
            <h5>订单管理</h5>
        </div>
        <!--分类1-->
        <dl class="call">
            <div class="down">
                <dt>服务中心</dt>
                <dd><a href="#">租房服务</a></dd>
                <dd><a href="#">售房服务</a></dd>
                <dd><a href="#">客户服务</a></dd>
                <dd><a href="#">纠纷服务</a></dd>
                <dd><a href="#">法律服务</a></dd>
                <dd><a href="#">民生服务</a></dd>
            </div>
        </dl>
        <!--分类2-->
        <dl class="call">
            <div class="up">
                <dt>服务中心</dt>
                <dd><a href="#">租房服务</a></dd>
                <dd><a href="#">售房服务</a></dd>
                <dd><a href="#">客户服务</a></dd>
                <dd><a href="#">纠纷服务</a></dd>
                <dd><a href="#">法律服务</a></dd>
                <dd><a href="#">民生服务</a></dd>
            </div>
        </dl>
        <!--分类2-->
        <dl class="call">
            <div class="up">
                <dt>服务中心</dt>
                <dd><a href="#">租房服务</a></dd>
                <dd><a href="#">售房服务</a></dd>
                <dd><a href="#">客户服务</a></dd>
                <dd><a href="#">纠纷服务</a></dd>
                <dd><a href="#">法律服务</a></dd>
                <dd><a href="#">民生服务</a></dd>
            </div>
        </dl>

    </div>
    <div class="meduo meduo2">
        <iframe src="123"  frameborder="0"></iframe>
    </div>
</div>
</body>
</html>
<!--公共js 开始引入-->
<% include ../common/commonJs.html %>
<script>
    var pageIndex=<%=pageIndex%>;
</script>
<!--公共js 结束引入-->